.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;
  
    .logo-container {
      width: 70px;
      padding: 25px;
    }
  
    .options {
      width: 80%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      
      .option {
        padding: 10px 15px;
        padding-bottom: 5px;
        cursor: pointer;
        color:rgb(122, 122, 122);

        &:hover,&.active{
          font-weight: bold;
        }

        &.active{
          font-weight: bold;
          color: black;
          border-bottom: 2px solid black;
        }
      }
    }
  }
  
  @media screen and (min-width:600px){
    .header{
      .logo-container{
        height: 100%;
      }
      .options{
        width: 50%;
      }
    }
  }