.menu-item{
    min-width: 30%;
    height: 15em;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 0.8em 1em;
    overflow: hidden;

    &:hover{
        cursor: pointer;

        & .background-image{
            transform: scale(1.1);
            transition: transform 6s cubic-bezier(0.25,0.45,0.45,0.95);
        }

        & .content{
            opacity: 0.9;
        }
    }

    &.large{
        height:20em ;
    }

    &:first-child{
        margin-right: 0.6em;
    }
    
    &:last-child{
        margin-right: 0.6em;
    }
    
    .background-image{
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }

    .content{
        height: 7em;
        padding: 0 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        background-color: white;
        opacity: 0.7;
        position: absolute;
    }

    .title{
        font-size: bold;
        margin-bottom: 0.5em;
        font-size: 1.5em;
        color: #4a4a44;
    }

    .subtitle{
        font-weight: lighter;
        font-size: 1em;
    }
}
