:root{
    font-size: 16px;
}

.homepage{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em 5em;
}

.directory-menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-item{
    min-width: 30%;
    height: 20em;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 0.8em 1em;

    &:first-child{
        margin-right: 0.6em;
    }
    
    &:last-child{
        margin-right: 0.6em;
    }
    
    .content{
        height: 7em;
        padding: 0 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
    }

    .title{
        font-size: bold;
        margin-bottom: 0.5em;
        font-size: 1.5em;
        color: #4a4a44;
    }

    .subtitle{
        font-weight: lighter;
        font-size: 1em;
    }
}

